<div>
    <label>Results</label>
    <p>
    Sucidal Score <%=@sucidalDepress%>
    </p>
    Food Severity Score <%=@foodSeverity%>
    <p>
    General Score <%=@general%>
    </p>
    <p>
    Severity <%=@severity%>
    </p>
    <div>
    <label>We suggest these options</label>
    </div>
</div>