<h1>Survey#show</h1>
<p>Find me in app/views/survey/show.html.erb</p>

<form>
        <label>
        Question 1
        </label>
        <div class="question-box">
            <label><input type="radio" name="test">Option 1!</label><br>
            <label><input type="radio" name="test">Option 2.</label><br>
            <label><input type="radio" name="test">Otion 3.</label>
        </div>
</form>

