form.survey{
    position: absolute;
    left: 35px;
}
div.headers{
    width: 100%;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
div.question-box > label{
    
}